@import '../../styles/vars';

.loginInput {
    min-width: 300px;
    border-color: #03A9F4;
    box-shadow: none !important;
    background-image: none !important;
    &:active, &:focus {
        box-shadow: none !important;
    }
}

.header {
    text-align: center;
}

.logo {
    height: 60px;
    width: 150px;
    margin-top: 22px;
}

.forgotContainer {
    text-align: right;
}

.forgotText {
    font-size: 12px;
    text-decoration: underline;
}

.loginBtnContainer {
    text-align: center;
    margin-top: 20px;
}

.inputLabel {
    margin-bottom: 0;
    margin-top: 20px;
}

.loginButton {
    background-color: $app-color !important;
    border: 1px solid $app-color !important;
    border-radius: 30px !important;
    width: 120px;
}

.pwdRecovery {
    text-align: center;
}

.recoveryTitle {
    font-size: 1.6rem;
    margin-bottom: 12px;
    width: 90%;
}

.recoveryDescription {
    font-size: 14px;
    width: 275px;
}

.email {
    text-align: left;
    margin-top: 30px;
    font-size: 16px;
}